**.o
**.d
libcanvas.a

# Editors
.vscode

third_party/cimgui/*.json
third_party/cimgui/*.lua
third_party/cimgui/overloads.txt
third_party/cimgui/*.sh
third_party/imgui-1.80/.github
third_party/imgui-1.80/docs
third_party/imgui-1.80/examples
third_party/imgui-1.80/misc
third_party/imgui-1.80/backends/*
!third_party/imgui-1.80/misc/cpp/imgui_stdlib.cpp
!third_party/imgui-1.80/backends/imgui_impl_glfw.cpp
!third_party/imgui-1.80/backends/imgui_impl_opengl3.cpp
!third_party/imgui-1.80/misc/cpp/imgui_stdlib.h
!third_party/imgui-1.80/backends/imgui_impl_glfw.h
!third_party/imgui-1.80/backends/imgui_impl_opengl3.h