**.o
**.d
libcanvas.a

# Editors
.vscode

third_party/cimgui/*.json
third_party/cimgui/*.lua
third_party/cimgui/.github
third_party/cimgui/backend_test
third_party/cimgui/generator
third_party/cimgui/overloads.txt
third_party/cimgui/*.sh
third_party/cimgui/test
third_party/cimgui/*.yml
third_party/cimgui/*.txt
third_party/imgui-1.88
third_party/imgui-1.88/docs
third_party/imgui-1.88/examples
third_party/imgui-1.88/backends/*
!third_party/imgui-1.88/backends/imgui_impl_glfw.cpp
!third_party/imgui-1.88/backends/imgui_impl_opengl3.cpp
!third_party/imgui-1.88/backends/imgui_impl_glfw.h
!third_party/imgui-1.88/backends/imgui_impl_opengl3.h